.keypad {
  max-width: 540px;
  width: 95vw;
  margin: auto;
  height: 480px;
  background-color: var(--keypad-bg);
  border-radius: 10px;
  margin-top: 25px;
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(4, 25%);
  place-items: center;
}
