.switch {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  transform: translateY(-15px);
}

.switch-box {
  width: 75px;
  border-radius: 100px;
  height: 25px;
  background-color: var(--keypad-bg);
  padding: 1px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch-handle {
  background-color: var(--key-bg-2);
  border-radius: 100px;
  height: 18px;
  width: 18px;
  transition: margin-left 400ms linear;
}

.switch-labels {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 25px);
  cursor: pointer;
}

.switch-labels h1:hover {
  color: var(--key-bg-2);
}

h1 {
  font-size: 12px;
  bottom: 10px;
}

.left {
  margin-left: 0;
}

.center {
  margin-left: calc(50% - 9px);
}

.right {
  margin-left: calc(100% - 18px);
}

.switch-handle:hover {
  cursor: pointer;
}
